@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
    min-height: 100vh;
    background-color: #5bc0de11;

    font-family: 'Montserrat', sans-serif;
}